@font-face {
  font-family: 'Beleren';
  src: url('/styles/fonts/beleren-bold-webfont.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'BelerenCaps';
  src: url('/styles/fonts/belerensmallcaps-bold-webfont.ttf');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Helvetica;
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-family: 'Beleren';
  margin: 0 0 0.2em 0;
  padding: 0;
}

.status-red {
  border-color: #f33;
  background-color: #dcc;
}

.status-green {
  border-color: #060;
  background-color: #cdc;
}

.status-orange {
  border-color: #c63;
  background-color: #dcb;
}




nav.utility {
  position: absolute;
  top: 10px;
  left: 50%;
}

// .event-listing {
//   overflow: auto;
// }

.events-listing {
  font-size: 0.8em;

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      margin: 0 0 0.2em 0;
      padding: 0;
    }
  }
}

.event > .item-actions,
.event-listing > .item-actions {
  // float: right;
  margin-left: 0.5em;
}

.event-decks {
  display: grid;
  grid-template-columns: 24% 38% 38%;
  grid-template-rows: 2em auto;
  grid-template-areas: "a a a"
                       "b c c";

  > h2 {
    grid-area: a;
  }

  > ul {
    font-size: 0.8em;
    grid-area: b;
    margin: 0;
    padding: 0.5em;

    > li {
      list-style: none;
      margin: 0;
    }
  }

  > .deck {
    grid-area: c;

    > div {
      float: left;

      &.main-deck {
        width: 59%;
      }
      &.sideboard {
        width: 39%;
      }
      margin: 0 1% 0 0;
    }

    > div > ul {
      margin: 0;
      padding: 0;

      > li {
        margin: 0.2em 0;
        padding: 0.2em;
        overflow: auto;
        background-color: #eee;
        list-style: none;

        > .card-info {
          font-family: Beleren;
          line-height: 1.4em;
          position: relative;
          overflow: auto;

          .mana-cost {
            position: absolute;
            top: 0;
            right: 0;

            > i {
              margin-left: 0.1em;
            }
          }
        }
      }
    }
  }

}


.owned-cards {
  overflow: auto;
  margin-left: 1em;

  .printing-more {
    display: none;
  }

  &:hover .printing-more {
    display: block;
  }

  .printing-total {
    width: 1.8em;
    text-align: center;
  }

  .printing {
    border: 1px solid #ccc;
    background-color: #fff;
    position: relative;
    height: 1.2em;
    float: left;
    margin: 0 0.1em 0.1em 0;

    &.owned-status-red {
      @extend .status-red;
    }

    &.owned-status-green {
      @extend .status-green;
    }

    &.owned-status-orange {
      @extend .status-orange;
    }

    .ss {
      margin: 0 0.2em;
      width: 1em;
    }

    .set-name {
      display: none;
    }

    .count {
      font-size: 0.8em;
      display: inline-block;
      width: 1.5em;
      text-align: center;
    }

    .total {
      font-size: 0.8em;
      padding: 0 0.2em;
      font-weight: bold;
    }

    button {
      position: absolute;
      left: 0.1em;
      width: 45%;
      height: 42%;
      text-align: center;
      padding: 0;
      opacity: 0;
      outline: none;
      border: 1px solid #ccc;

      &.add {
        @extend .status-green;
        top: 0.1em;
      }

      &.subtract {
        @extend .status-red;
        bottom: 0.1em;
      }
    }

    &:hover button {
      opacity: 1;
    }
  }
}
